@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;1,300&display=swap');
body{
  font-family: 'Rubik', sans-serif;
  background: linear-gradient(45deg, #007841 0%, rgba(246, 231, 56, 0.79) 100%);
}

a{
  text-decoration: none;
}

label{
  float: right;
}

.tela-login{
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 100px;
  border-radius: 10px;
}

input{
  padding: 15px;
  font-family: 'Rubik', sans-serif;
  border: solid 2px;
  color: black;
  font-size:15px;
  width: 90%;
  display: inline-block;
  margin: 5px;
  border-radius: 5px;
}

.botao{
  background-color: #307FE2;
  border: none;
  padding: 15px;
  border-radius: 4px;
  font-family: 'Rubik', sans-serif, medium;
  font-size: 16px;
  cursor: pointer;
  color: #fff;
  width: 100%;
  transition: .3s ease all;
}

.botao:hover{
  background-color: #4d91e4;
}

.nome-register{
  width: 100%;
}

.matricula-register{
  width: 100%;
}

.senha-register{
  width: 100%;
}

.radio-colab{
  float: left;
}
.radio-adm{
  float: right;
}